:root {
    --heading-font-family: "Heading", serif;
    --heading-font-weight: 500;
    --heading-font-style: normal;
    --text-font-family: Body, sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;
    --base-text-font-size: 17px;
    --default-text-font-size: 14px;
    --background: #fcc155;
    --background-rgb: 252, 193, 85;
    --light-background: #f4d1b3;
    --light-background-rgb: 244, 209, 179;
    --heading-color: #16243d;
    --text-color: #16243d;
    --text-color-rgb: 22, 36, 61;
    --text-color-light: #16243d;
    --text-color-light-rgb: 22, 36, 61;
    --link-color: #16243d;
    --link-color-rgb: 22, 36, 61;
    --border-color: #f6a019;
    --border-color-rgb: 246, 160, 25;
    --button-background: #16243d;
    --button-background-rgb: 22, 36, 61;
    --button-text-color: #fcc155;
    --header-background: #fcc155;
    --header-heading-color: #16243d;
    --header-light-text-color: #16243d;
    --header-border-color: #daa951;
    --footer-background: #f6a019;
    --footer-text-color: #16243d;
    --footer-heading-color: #16243d;
    --footer-border-color: #d48d1e;
    --navigation-background: #fcc155;
    --navigation-background-rgb: 252, 193, 85;
    --navigation-text-color: #16243d;
    --navigation-text-color-light: rgba(22, 36, 61, 0.5);
    --navigation-border-color: rgba(22, 36, 61, 0.25);
    --newsletter-popup-background: #e7501e;
    --newsletter-popup-text-color: #ffffff;
    --newsletter-popup-text-color-rgb: 255, 255, 255;
    --secondary-elements-background: #fce7a8;
    --secondary-elements-background-rgb: 252, 231, 168;
    --secondary-elements-text-color: #303030;
    --secondary-elements-text-color-light: rgba(48, 48, 48, 0.5);
    --secondary-elements-border-color: rgba(48, 48, 48, 0.25);
    --product-sale-price-color: #e7501e;
    --product-sale-price-color-rgb: 231, 80, 30;
    --payment-terms-background-color: #fcc155;
    --horizontal-spacing-four-products-per-row: 40px;
    
    --horizontal-spacing-two-products-per-row: 40px;
    --vertical-spacing-four-products-per-row: 60px;
    --vertical-spacing-two-products-per-row: 75px;
    --drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --header-base-height: 80px;
    --cursor-zoom-in-svg: url(//kahawa1893.com/cdn/shop/t/23/assets/cursor-zoom-in.svg?v=1530173…);
    --cursor-zoom-in-2x-svg: url(//kahawa1893.com/cdn/shop/t/23/assets/cursor-zoom-in-2x.svg?v=1622601…);