html {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  color: hsl(220 40% 35%);
}

body {
  padding: 2rem;
  background-color: hsl(220 20% 95%);
}


.mf{
    /* border-radius: 100vw; 
    border: 5px solid #fff;
    box-shadow: .25rem .25rem .5rem;*/
    object-fit: cover;
    width: var(--avatar-size);
     border-radius: 100vw;
    border: 5px solid white;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

    transition: scale 500ms;
}


.stupidmf {
  --avatar-count: 10;
  --avatar-size: 75px;

  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  grid-template-columns: repeat(var(--avatar-count), var(--column-size));
  transition: 500ms;
  transition-delay: 500ms;
}

.stupidmf:hover {
  --column-size: calc(var(--avatar-size) * 1.5);
  transition-delay: 0ms;
}

.mf:hover {
  scale: 2;
  z-index: 2;
}

@supports selector(:has(+ *)) {
  .mf:hover + .mf,
  .mf:has(+ .mf:hover) {
    scale: 1.5;
  }
}

