/* Wireframe - 2

position: relative;
width: 1440px;
height: 1652px;

background: #FFFFFF;


/* 317750_linkedin_icon */

/* position: absolute;
width: 31px;
height: 31px;

background: url(317750_linkedin_icon.png); */


/* 5305170_bird_social media_social network_tweet_twitter_icon */

/* position: absolute;
width: 31px;
height: 31px;

background: url(5305170_bird_social media_social network_tweet_twitter_icon.png); */


/* Got a question or proposal, or just wantto say hello? Go ahead. */

/* position: absolute;
width: 254px;
height: 32px;

font-family: 'Ranade';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
text-align: center; */

/* color: #000000; */ 

